flows4.json
[{"id":"b3ae6987.84ce18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e3b2df88.88dc9","type":"http in","z":"b3ae6987.84ce18","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":220,"wires":[["4bdab275.27a1ec"]]},{"id":"a9c545a2.df8be8","type":"rpi-gpio in","z":"b3ae6987.84ce18","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":110,"y":380,"wires":[["850ec359.9d2c4"]]},{"id":"850ec359.9d2c4","type":"function","z":"b3ae6987.84ce18","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["fb8ce72c.d73708"]]},{"id":"4bdab275.27a1ec","type":"function","z":"b3ae6987.84ce18","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["e73f61ee.9f3f4","fb8ce72c.d73708"]]},{"id":"fb8ce72c.d73708","type":"debug","z":"b3ae6987.84ce18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":240,"wires":[]},{"id":"e73f61ee.9f3f4","type":"http response","z":"b3ae6987.84ce18","name":"","statusCode":"","headers":{},"x":490,"y":160,"wires":[]}]