flows5.json
[{"id":"cdae3d8b.db3fd","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"6caec980.f58038","type":"http in","z":"cdae3d8b.db3fd","name":"Set GPIO5","url":"/on","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["a3ba35cd.061b38","2cb9ebee.3aa8b4"]]},{"id":"a3ba35cd.061b38","type":"function","z":"cdae3d8b.db3fd","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["e73d686.5305e98"]]},{"id":"e73d686.5305e98","type":"rpi-gpio out","z":"cdae3d8b.db3fd","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":570,"y":260,"wires":[]},{"id":"2cb9ebee.3aa8b4","type":"function","z":"cdae3d8b.db3fd","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\"; \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["b262fd6a.e809e","854f3ba2.135798"]]},{"id":"854f3ba2.135798","type":"debug","z":"cdae3d8b.db3fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":200,"wires":[]},{"id":"b262fd6a.e809e","type":"http response","z":"cdae3d8b.db3fd","name":"","statusCode":"","headers":{},"x":650,"y":80,"wires":[]},{"id":"5b3f688f.074fb8","type":"http in","z":"cdae3d8b.db3fd","name":"Clear GPIO5","url":"/down","method":"get","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["6063f37a.98dbfc","6ea80bd1.5e0d04"]]},{"id":"6063f37a.98dbfc","type":"function","z":"cdae3d8b.db3fd","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["e73d686.5305e98"]]},{"id":"6ea80bd1.5e0d04","type":"function","z":"cdae3d8b.db3fd","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["b262fd6a.e809e","854f3ba2.135798"]]}]